.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    width: 100%;
    color: var(--color-gray);
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox input {
    display: none;
}

.checkmark {
  width: 40px;
  height: 40px;
  background-color: var(--color-border-light);
  border-radius: 10px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: 0.15s ease;
}

.checkbox:hover {
  cursor: pointer;
}

.checkbox input:checked + .checkmark {
  background-color: var(--color-green-light);
}

.checkbox input:checked ~ p {
  text-decoration: line-through;
  color: var(--color-gray-light);
  transition: color 0.15s ease;
}

.checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 16px;
  top: 8px;
  width: 6px;
  height: 14px;
  border: solid var(--color-green);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}