.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: var(--color-gray);
    background-color: var(--color-border-light);
    margin: 10px 0;
    padding: 7.5px;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.15s ease;
    border: var(--color-border-light) 2px solid;
}

.date:hover {
    cursor: pointer;
    border: var(--color-gray) 2px solid;
}

.date:active {
    background-color: var(--color-gray);
    color: var(--color-border-light);
}