.icon-text-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    background-color: var(--color-blue-light);
    color: var(--color-blue);
    padding: 1.5625rem;
    border-radius: 0.625rem;
    color: var(--color-blue);
    margin-top: 1.25rem;
    font-size: 1.25rem;
    border: var(--color-blue-light) 2px solid;
    transition: 0.15s ease;
}

.icon-text-button:hover {
    cursor: pointer;
    border: var(--color-blue) 2px solid;
}

.icon-text-button:active {
    background-color: var(--color-blue);
    color: var(--color-blue-light);
}