.focus {
    width: 100%;
    max-width: 31.25rem;
    padding: 1.875rem;
    border-radius: 1.25rem;
    border: 2px solid var(--color-border-light);
    box-shadow: 0 0.625rem 1.25rem 0 rgba(0,0,0,0.05);
}

.focus-data {
    width: 100%;
}

.focus-header {
    display: flex;
    justify-content: space-between;
}

.focus h1 {
    font-size: 2rem;
    font-weight: 500;
}

.tasks-title {
    margin-top: 1.25rem;
}