* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.focuses {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.25rem;
    row-gap: 1.25rem;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

@media (max-width: 1024px) {
    .focuses {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .focuses {
        grid-template-columns: 1fr;
    }
}