:root {
    --color-border-light: #E4E4E4;
    --color-gray: #6C6C6C;
    --color-gray-light: #9c9c9c;
    --color-purple-light: #F2DFFD;
    --color-purple: #713F88;
    --color-green-light: #DFF9DE;
    --color-green: #41A159;
    --color-blue-light: #E1E1FB;
    --color-blue: #5863D6;
}
