.icon-button {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    background-color: var(--color-border-light);
    color: var(--color-gray);
    padding: 15px;
    border-radius: 10px;
    border: var(--color-border-light) 2px solid;
    transition: 0.15s ease;
}

.icon-button:hover {
    border: var(--color-gray) 2px solid;
    cursor: pointer;
}

.icon-button:active {
    background-color: var(--color-gray);
    color: var(--color-border-light);
}